@import "../../../scss/index.scss";

.edit-user-form{
    form{
        padding: 0 20px 20px 20px !important;
        .btn-submit{
            position: absolute;
            top:-44px;
            right: 25px;
            border-radius: 50px;
            font-size: 16px;
            padding: 4px 15px 4px 15px;
        }
        .form-group,
        .row{
            margin-bottom: 20px;
        }
    }
}